/*mask*/
.drawer_screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #000;
    opacity: 0.5;
    overflow: hidden;
}

/*content*/
.drawer_box {
    width: 6.50rem;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 1001;
    background: #fafafa;
    margin: -150px .50rem 0 .50rem;
    border-radius: 3px;
}

input {
    -webkit-appearance: none;
}

.drawer_title {
    padding: 15px;
    font: .20px "microsoft yahei";
    text-align: center;
}
.status-pay {
   color:red;
   font-size:0.38rem;
}

.status-no {
    color: #808080;
    font-size: 0.28rem;
}
.drawer_content {
    height: 100%;
    overflow-y: scroll;
}

.btn_ok {
    padding: 10px;
    font: 20px "microsoft yahei";
    text-align: center;
    color: #3cc51f;
}

.top {
    padding-top: 8px;
}

.bottom {
    padding-bottom: 8px;
}

.title {
    height: 30px;
    line-height: 30px;
    width: 1.60rem;
    text-align: center;
    display: inline-block;
    font: 300 .28rem/30px "microsoft yahei";
}

radio {
    margin-right: 20px;
}

.grid {
    display: -webkit-box;
    display: box;
}

.col-0 {
    -webkit-box-flex: 0;
    box-flex: 0;
}

.col-1 {
    -webkit-box-flex: 1;
    box-flex: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.radio-group {
    display: block;
    width: 100%;
}

.radio {
    display: block;
    border-top: 1px solid #ddd;
    padding: 5px;
}

.radio-width {
    width: 100%;
    display: block;
    margin: .10rem 0;
    box-sizing: border-box;
    border-bottom: .02rem solid #e8e8e8;
    padding: .25rem 0rem;
    text-align: center;
}

.button button {
    font-size: .28rem;
    height: .80rem;
    line-height: .80rem;
    background: #e8e8e8;
    color: #008cf5;
}

input[type="radio"] {
    -webkit-appearance: radio;
}
