/*!
 * mob网页分享
 * 
 * @package mobShare
 * @version 0.1.2
 * @date 2016-03-07
 * @copyright © 2012-2015 mob All Rights Reserved 掌淘网络 版权所有 粤ICP备12079301号
 */

.-mob-share-ui-button {
    display: block;
    padding: .6em;
    text-align: center;
    cursor: pointer;
    background: #7DB1EA;
    color: #fff;
    font-weight: 700
}

.-mob-share-ui, .-mob-share-ui-bg {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%
}

.-mob-share-ui-bg {
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
    z-index: 999999998;
    left: 0;
    top: 0
}

.-mob-share-ui {
    margin: 0;
    padding: 0;
    background-color: rgba(255,255,255,.95);
    border-bottom: 1px solid #e9e9e9;
    z-index: 999999999;
    color: #333;
    font-size: 16px
}

    .-mob-share-ui ul.-mob-share-list {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 auto 1em;
        padding: 0;
        cursor: default
    }


            .-mob-share-ui ul.-mob-share-list li p {
                zoom: 1;
                left: 0;
                bottom: -1.5em;
                z-index: 999999997;
                margin: 0 auto;
                line-height: 1em;
                color: #5e5e5e
            }

            .-mob-share-ui .-mob-share-close {
                clear: both;
                bottom: 0;
                z-index: 999999999;
                height: 3em;
                line-height: 3em;
                background: #EFEFEF;
                cursor: pointer
            }

.-mob-share-weixin-qrcode-content {
    position: fixed;
    z-index: 999999999;
    top: 10%;
    width: 250px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #333;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.-mob-share-weixin-qrcode-close {
    position: absolute;
    top: 5px;
    right: 5px;
    background: 0 0;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px
}

.-mob-share-weixin-qrcode-header {
    font-size: 13px;
    text-indent: 0;
    text-align: center;
    padding: 0;
    margin: 10px 0
}

.-mob-share-weixin-qrcode {
    width: 250px;
    height: 250px
}

.-mob-share-weixin-qrcode-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
    z-index: 999999998;
    left: 0;
    top: 0
}

.-mob-share-weixin-tips-content {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%
}

.-mob-share-weixin-tips-arrow {
    position: absolute;
    top: 1em;
    right: 2em;
    z-index: 999999998;
    width: 4em;
    height: 5em;
    background: url(/static/images/weixin_tips.png) center no-repeat;
    background-size: cover
}

.-mob-share-weixin-tips {
    /*width: 9.5em;*/
    margin: 0;
    padding: 0;
    position: absolute;
    right: 3em;
    top: 5.5em;
    z-index: 999999999;
    color: #fff;
    font-size: 1.2em
}

.-mob-share-ui.-mob-share-ui-theme-slide-left ul.-mob-share-list li, .-mob-share-ui.-mob-share-ui-theme-slide-right ul.-mob-share-list li {
    display: block;
    zoom: 0;
    margin: 0 .2em 2em
}

.-mob-share-ui.-mob-share-ui-theme {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.-mob-share-ui.-mob-share-ui-theme-slide-top {
    background-color: #fff;
    position: fixed;
    height: auto;
    text-align: center;
    left: 0;
    top: 0
}

    .-mob-share-ui.-mob-share-ui-theme-slide-top ul.-mob-share-list {
        position: relative;
        padding: 1em 1em 0;
        height: auto;
        width: auto;
        text-align: left
    }

    .-mob-share-ui.-mob-share-ui-theme-slide-top .-mob-share-close {
        position: relative
    }

.-mob-share-ui.-mob-share-ui-theme-slide-bottom {
    background-color: #fff;
    position: fixed;
    height: auto;
    text-align: center;
    left: 0;
    bottom: 0
}

    .-mob-share-ui.-mob-share-ui-theme-slide-bottom ul.-mob-share-list {
        position: relative;
        padding: 1em 1em 0;
        height: auto;
        width: auto;
        text-align: left
    }

    .-mob-share-ui.-mob-share-ui-theme-slide-bottom .-mob-share-close {
        position: relative
    }

.-mob-share-ui.-mob-share-ui-theme-slide-left {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 6em;
    height: 100%
}

    .-mob-share-ui.-mob-share-ui-theme-slide-left ul.-mob-share-list {
        position: relative;
        padding: 1em 1em 0;
        height: auto;
        width: auto;
        text-align: left
    }

.-mob-share-ui.-mob-share-ui-theme-slide-right {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 6em;
    height: 100%
}

    .-mob-share-ui.-mob-share-ui-theme-slide-right ul.-mob-share-list {
        position: relative;
        padding: 1em 1em 0;
        height: auto;
        width: auto;
        text-align: left
    }
