<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <title>医生动态</title>
    <link href="../../static/css/public.css?v=1.0" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/home/doc_news.css" />
    <link rel="stylesheet" href="../../static/css/ydui.css" />
    <script src="../../static/js/webpack/reset.js"></script>
    <script type="text/javascript" src="../../static/js/webpack/ydui.flexible.js"></script>
</head>

<body>
    <header>
        <img class="prev-icon" src="/static/images/prev-icon.png" alt="">
        <span>医生动态</span>
    </header>
    <div class="list_news">

    </div>

    <script src="../../static/js/webpack/jquery-2.1.4.min.js"></script>
    <script src="../../static/js/webpack/modal.js"></script>
    <script src="../../static/js/webpack/request.js"></script>
    <script src="../../static/js/webpack/common.js"></script>
    <script src="../../static/js/webpack/ydui.js"></script>
    <script src="../../static/js/webpack/template.js"></script>
    <script src="../../static/js/webrequest/home/doc_news.js"></script>
    <script type="text/html" id="list-div">
        {{if list===null||list.length===0}}
        {{else}}
        {{each list as item }}
        <div class='list' data-url='{{item.id}}' onclick='navUrlArticleDetail(this,"{{item.id}}")'>
            <div class='title font30' data-url='{{item.id}}'>
                {{item.title}}
            </div>
            <div class='time font22 c888 mt10'>{{item.time}}</div>
            <div class='text-cont c888 mt15'>
                {{item.content}}
            </div>
            {{if item.pics!=null}}
            <div class='img-cont mt30'>
                {{each item.pics as p}}
                <image class='img' src='{{p}}'></image>
                {{/each}}
            </div>
            {{/if}}
        </div>
        {{/each}}
        {{/if}}
    </script>
</body>

</html>